---
layout: simplepage
title: Books on Jenkins
---

%p.app-description
  The books in this list are not endorsed by the Jenkins project.
  The list of books on this page is provided for informational purposes, sorted from newest to oldest publication date.
  Since older books on the list can contain outdated information, the <a href="/doc/">Jenkins documentation</a> can help fill in any gaps.

%div.app-books-page__list
  - site.books.values.sort_by{ |book| [-book['publication_year'], book['title']] }.each_with_index do |book, index|
    %div.app-books-page__list__item
      %div.book{:style => '--image: url("' + expand_link('images/' + book['image']) + '")'}
        - if book['image']
          %img.book-image{:src => expand_link('images/' + book['image'])}
      %div
        %h2
          - if book['url']
            %a{:href => book['url'], :target => '_blank'}
              = book['title']
          - else
            = book['title']
        - if book['author']
          %p.byline
            Authored by
            = book['author'] || book['authors']
            - if book['publisher']
              \- Published by
              = "#{book['publisher']}, #{book['publication_year']}"
        - if book['description']
          %p
            = book['description']
