- # This partial exists to provide a consistent re-usable block for creating a
- # consistent list of blog post-cards on a page. It should be relatively portable
- # to drop into any page with the jenkins.css

%ul.app-cards
  - page.posts.each do |post|
    - next if post.layout != 'post'
    %li.app-card

      %div.img{:style => "background-image: url(#{post.opengraph ? post.opengraph.image : 'https://cdn.dribbble.com/users/45782/screenshots/11304218/gradient_02_a_4x.jpg'})"}

      %a{:href => expand_link(post.url)}
        %h5.app-card__title
          = post.title
        %p.app-card__teaser
          = post.summary || summarize(html_to_text(post.content).strip, 64)
          %span.more

      .attrs
        %div
          = display_author_for(post)
          - if post.date
            = post.date.strftime('%B %d, %Y')
        -#- if post.tags
        -#  %ul.app-tags
        -#    - post.tags.each do |tag|
        -#      %li
        -#        %a.app-tags__tag{:href => expand_link("node/tags/#{tag}")}
        -#          = tag
