%h3{:id => "v#{page.release.version}", :class => 'idkanymore' }
  %a{:href => "/#{page.url}/#{page.release.version}/"}
    = page.release.version
- if page.release.date
  %div{:class => 'notthecrowd'}
    = page.release.date.strftime('%B %-d, %Y')
- if page.release.banner
  %div{:class => 'app-banner'}
    = page.release.banner
