---
layout: changelog
show_ratings: true
notitle: true
backlink:
  label: Back to changelogs
  url: ../
---

= partial('release-header.html.haml', :release => page.release, :entry => true)

%div.app-releases__list__items
  = partial('changelog-changes.html.haml', :changes => page.release.changes)

-if page.release.changes and page.release.lts_changes
  .app-releases__notable-changes
    = "Notable changes since #{page.release.lts_predecessor}"

  %div.app-releases__list__items
    = partial('changelog-changes.html.haml', :changes => page.release.lts_changes)
