---
layout: changelog
show_ratings: true
has_rss: false
backlink:
  label: Back to changelogs
  url: ../
---

- if page.release.date
  %div{:class => 'app-releases__item__date boop'}
    = page.release.date.strftime('%B %-d, %Y')

%div.app-releases__list__items
  = partial('changelog-changes.html.haml', :changes => page.release.changes)

-if page.release.changes and page.release.lts_changes
  .app-releases__notable-changes
    = "Notable changes since #{page.release.lts_predecessor}"
  %div.app-releases__list__items
    = partial('changelog-changes.html.haml', :changes => page.release.lts_changes)
