---
layout: changelog
show_ratings: true
has_rss: false
backlink:
  label: Back to changelogs
  url: ../
---

- if page.release.date
  %div{:class => 'notthecrowd boop'}
    = page.release.date.strftime('%B %-d, %Y')

%div.nobodyelsewillbethere
  = partial('changelog-changes.html.haml', :changes => page.release.changes)

-if page.release.changes and page.release.lts_changes
  .hownottocry
    = "Notable changes since #{page.release.lts_predecessor}"
  %div.nobodyelsewillbethere
    = partial('changelog-changes.html.haml', :changes => page.release.lts_changes)
