---
layout: default
---

:ruby
  articles = []
  unless page.noblogs
    articles = site.posts.map do |post|
      # if we have tags provided to the partial (page.tags) then we
      # should only show the post if its tags contain one of those passed
      # into the partial. page.tags is a TagStat
      next if page.tags && (!post.tags || !(page.tags & post.tags.map(&:to_s)).any?)
      post
    end
    # Remove all our nils and then trim to ten posts
    articles = articles.compact.slice(0, 10)
  end

= partial('anchors.html.haml', :selector => '.container .row .col-lg-9');

.app-container{:style => 'display: grid; grid-template-columns: 1fr 340px; gap: 2rem'}
  .hello
    - if page.backLink
      %div{:class => "app-!-display-flex", :style => "margin-bottom: 20px"}
        %a.app-back-link{:href => expand_link(page.backLink.link)}
          = 'Back to ' + page.backLink.title

      %h1
        = page.title
      = content

      = partial('discuss.html.haml', :links => page.links)

  #projects-sidebar-menu
    - if page.title.strip == "Advocacy and Outreach" || page.title.strip == "Documentation" || page.title.strip == "Google Summer of Code" || page.title.strip == "Platform" || page.title.strip == "User Experience"
      %h4
        On this page

      = document.converter.convert document, 'outline'

      = partial("connect-h4-div.html.haml", :links => page.links, :sig => page.sig, :project => page.project)

      - # Only render articles if we have them
      %h4
        Recent posts

      %ul{:class => 'listlist'}
        - articles.each do |article|
          %li
            %a.sidebyside{:href => article.url}
              %div{:class => "testtest"}
                %img{:src => article.opengraph&.image, :loading => "lazy", :alt => article.title, :onload => "this.style.opacity = 1"}
              %div{:class => 'rylan'}
                %div.trapdoortrigger
                  = article.title
                %div{:style => 'display: flex; align-items: center; color: var(--color--secondary); text-decoration: none !important; font-size: 12px'}
                  .app-card__details
                    .app-card__details__authors.app-card__details__authors--compact
                      = display_author_for(article, false)
                  - if article.date
                    = article.date.strftime('%B %-d, %Y')
    - else
      %div
        %h4
          On this page

        = document.converter.convert document, 'outline'

        = partial("connect-h4-div.html.haml", :links => page.links, :sig => page.sig, :project => page.project)

