---
layout: project
backLink:
  title: Special Interest Groups
  link: /sigs
---

.thingytest
  .testest{:style => '--background: url("' + expand_link(page.logo) + '")'}
    %img{:title => "Logo", :src => expand_link(page.logo), :height => "100"}

  - if page.overview
    %p
      = page.overview

  - if page.leads or page.participants
    %h2
      Members

    .col-lg-4
      - if page.leads
        Lead#{if page.leads.length > 1 then 's' end}:

        %ul.quietlight
          - page.leads.each do |user|
            %li
              = display_user(user)

      - if page.organizations
        Organizations:
        %ul.quietlight
          - page.organizations.each do |item|
            %li
              %a{:href => "https://github.com/#{item.github}", :target => "_blank", :rel => "noreferrer noopener"}
                = item.name

    .col-lg-4
      - if page.participants
        - part1 = page.participants.sort_by { |x| site.authors[x] ? site.authors[x].name : x }
        - part2 = []
        - if part1.length > 8
          - part1,part2 = part1.each_slice( (part1.size/2.0).round ).to_a

        Participants:
        %ul.quietlight
          - part1.each do |user|
            %li
              = display_user(user)

    .col-lg-4
      - if page.participants
        &nbsp;
        %ul.quietlight
          - part2.each do |user|
            %li
              = display_user(user)

    = content
