---
layout: project
back_link:
  text: Special Interest Groups
  url: /sigs
---

%div.app-sig-page
  %div.app-sig-page__overview
    %div
      %h2
        Overview

      - if page.overview
        %p
          = page.overview

    - if page.logo
      %img{:title => "Logo", :src => expand_link(page.logo), :width => "192"}

  %h2
    Members

  %div.row
    %div.col-lg-4
      - if page.leads
        Lead#{if page.leads.length > 1 then 's' end}:
      %ul
        - page.leads.each do |user|
          %li
            = display_user(user)

      - if page.organizations
        Organizations:
        %ul
          - page.organizations.each do |item|
            %li
              %a{:href => "https://github.com/#{item.github}", :target => "_blank", :rel => "noreferrer noopener"}
                = item.name

    - if page.participants
      - part1 = page.participants.sort_by { |x| site.authors[x] ? site.authors[x].name : x }
      - part2 = []
      - if part1.length > 8
        - part1,part2 = part1.each_slice( (part1.size/2.0).round ).to_a

      %div.col-lg-4
        Participants:
        %ul
          - part1.each do |user|
            %li
              = display_user(user)

      %div.col-lg-4
        &nbsp;
        %ul
          - part2.each do |user|
            %li
              = display_user(user)

  %h2
    Description

  = content
