---
layout: simplepage
title: "Use cases"
noanchors: true
---

%div.app-info-cards.app-info-cards--eight-column
  - site.solutions.sort.each do |key, solution|
  - link = expand_link("solutions/#{key}")
  - cssClass = solution["dark"] ? "dark" : "light"
    %a.app-info-cards__item{:style => "--card-background: #{solution["color"]}; --card-color: #{solution["color"]}", :href => link, :class => cssClass}
      = File.read("content/images/solution-images/#{key}.svg")
      %h3
        = solution["usecase"]
