---
layout: simplepage
title: "Use cases"
noanchors: true
---

%div.app-info-cards.app-info-cards--four-column.app-info-cards--square.app-use-cases
  - site.solutions.sort.each do |key, solution|
  - link = expand_link("solutions/#{key}")
    %a.app-info-cards__item{:style => "--card-background: color-mix(in srgb, #{solution["color"]} 90%, var(--color)); --card-color: #{solution["color"]}", :href => link}
      = File.read("content/images/solution-images/#{key}.svg")
      %h3
        = solution["usecase"]
      %p
        = solution["description"]
      %span.app-info-cards__learn-more
        Learn more
        %ion-icon{:name => "arrow-forward-outline"}